*{
 margin: 0px;
 padding: 0px;

}

body{
background: linear-gradient(to right, #141436, #44681d);
}

.container{

    display: flex;
    margin: 85px auto;
    width: 72%;

}

.container img{
   width: 442px;
    height: 352px;

}
.info{

    flex: 1;
    display:flex;
    flex-direction: column;
    margin: 19px 23px;
    padding: 14px 19px;
    font-family: 'Arvo', serif;
}
.info-2{
 flex:1;
 display:flex;
 align-items: center;
 }

 .button{

    margin: 0px 10px;
    height: 33px;
    width: 110px;
    border-radius: 6px;
    border: none;
    background-color: #1a95e1;
    font-size: 16px;
    font-family: 'Arvo', serif;

 }


.info h1{
    margin-bottom: 25px;
}
.info h2{
    margin-bottom: 25px;
}

